<form method="POST" action="edit">{% csrf_token %}
	<label>Nome da safra:  </label>
	</br>
	<input id="name" name="name" type="text" value="{{ harvest.name }}">
	</br>
	<label>Data de Inicio:  </label>
	</br>
	<input id="date_start" name="date_start" type="date" value="{{ harvest.date_start|date:"Y-m-d" }}">
	</br>
	<label>Data de Término:  </label>
	</br>
	<input id="date_end" name="date_end" type="date" value="{{ harvest.date_end|date:"Y-m-d" }}">
	<input id="harvest_id" name="harvest_id" value="{{ harvest.id }}" hidden=true>
	<button type="submit">Save</button>
</form>
